$bg: #0e1117;
$cherry: rgb(227, 36, 69);

$cherry-dark: rgba(216, 35, 65, 0.78);
$cherry-darker: rgba(216, 35, 65, 0.348);

$highlight-dark: rgba(255, 255, 255, 0.581);
$highlight-cherry: rgb(255, 28, 96);

$disabled-white: rgba(255, 255, 255, 0.864);
$valid-blue: rgb(84, 87, 255);

$default-padding: 3rem;
$default-gap: 2rem;
$fall-back-black: rgba(255, 255, 255, 0.625);
$fall-back-black-dark: rgba(127, 127, 127, 0.472);
$fall-back-black-darker: rgba(127, 127, 127, 0.174);
$disabled: rgba(154, 154, 154, 0.51);