$bg: #0e1117;
$cherry: rgb(227, 36, 69);
$default-padding: 3rem;
$default-gap: 2rem;
$fall-back-black: rgba(255, 255, 255, 0.625);
$fall-back-black-dark: rgba(127, 127, 127, 0.472);
$fall-back-black-darker: rgba(127, 127, 127, 0.174);
$disabled: rgba(154, 154, 154, 0.51);