//fonts
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

// Config
@import "./config/_variables.scss";
@import "./config/_reset.scss";

// Components
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/slidingMenu.scss";
@import "./components/homeSections.scss";
@import "./components/musicCard.scss";
@import "./components/player.scss";
@import "./components/playerScreen.scss";



// Screens

// Defaults
a {
  color: inherit;
  text-decoration: none;
}

* {
  outline: 1px solid rgba(255, 0, 0, 0.5);
}

body {
  width: 100%;
  bottom:280px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: $bg;
  color: white;
  font-size: 40px;
  align-items: center;
  justify-self: center;

  main {
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 1rem $default-padding;
  }
}