.playlist-box {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
}

.playlist-box__header {
    font-size: 1.2rem;
    margin-bottom: 5rem;
}

.playlist-box__body {
    height: 100%;
    width: 100%;
}

.playlist-box__body__header {
    display: flex;
    justify-content: space-between;
    font-size: 3.6rem;
    margin-bottom: 3rem;
}

.header__make-playlist-btn {
    color: $highlight-cherry;
    font-size: 3.3rem;
}

.order-btn {
    color: $fall-back-black;
    font-size: 3rem;
}

.order-btn i {
    margin-right: 1rem;
}

.playlist-box__body__body {
    height: auto;
    width: 100%;
    overflow: auto;
}

.empty-playlist-instruction {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 5rem;
}

.empty-playlist-instruction span {
    color: $fall-back-black;
}

.empty-playlist-instruction span:nth-child(3) {
    margin-top: 3rem;
    color: $fall-back-black-dark;
    margin-bottom: 1.7rem;
}

.empty-playlist-instruction .href-btn {
    padding: 1rem $default-padding;
    height: 5rem;
    font-size: 3rem;
    border-radius: 1.7rem;
    margin-top: 6rem;
}

.empty-playlist-div {
    width: 100vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.playlist-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    justify-content: center;
    width: 100%;
    row-gap: 6rem;
}

#playlist-card {
    width: 10rem;
    height: 15rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cover-img {
    width: 10rem;
    height: 10rem;
    background-color: $black-transparent;
    margin-bottom: 1rem;
    object-fit: cover;
    overflow: hidden;
}

.cover-img {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 100%;
        object-fit: cover;
    }
}

.playlist-info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    font-size: 1.5rem;
}

.playlist-info span.playlist-title {
    text-overflow: ellipsis;
}

.playlist-info span.creator {
    color: $fall-back-black-dark;
    font-size: 1.3rem;
    margin-top: 0.5rem;
}

.playlist-section {
    height: 30rem;
}