.playlist-detail {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.playlist-detail .playlist-detail__header {
    height: 30rem;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .playlist-title {
        font-size: 10rem;
        margin-top: 14rem;
        z-index: 2;
        text-overflow: ellipsis;
    }



}

.playlist-detail .playlist-detail__header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(transparent, black);
    box-shadow: inset 0 0 4rem 1rem black;
}

.playlist-detail .playlist-detail__body {
    #music-card {
        width: 95%;
        margin-top: 3rem;
    }
}