header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;

    #search{
        color:white;
        font-size: 3.5rem;
        position: absolute;
        right: 9rem;

    }
    #logo {
        span:first-child {
            font-size: 5rem;
        }

        span:last-child {
            margin-left: 0.5rem;
            font-size: 4rem;
            font-family: 'Righteous';
            background: linear-gradient(to top, $cherry, rgb(255, 74, 74));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    #hamburger_menu {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 13;
        margin-left: auto;

        input#check_box {
            display: none;
        }

        label.hamburger {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 2.5rem;
            width: 3.5rem;

            span {
                display: block;
                height: 5px;
                width: 100%;
                background-color: white;
                border-radius: 1px;
            }
        }
    }
}
