header {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1rem;
    z-index: 20;
    height: 6.5rem;

    width: 600px;


    #search {
        color: white;
        font-size: 2.1rem;
        position: absolute;
        right: 4.5rem;
        box-sizing: border-box;
        padding: 1.5rem;

    }

    #logo {
        span:first-child {
            font-size: 3rem;
            margin-left: 0.5rem;
        }

        span:last-child {
            margin-left: 0.5rem;
            font-size: 2.5rem;
            font-family: 'Righteous';
            background: linear-gradient(to top, $cherry, rgb(255, 74, 74));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    #hamburger_menu {
        display: flex;
        align-items: center;
        z-index: 10;
        position: absolute;
        right: 1.3rem;
        box-sizing: border-box;
        padding: 1rem;

        input#check_box {
            display: none;
        }

        label.hamburger {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 2rem;
            width: 1.1rem;

            span {
                display: block;
                height: 0.18rem;
                width: 200%;
                background-color: white;
                border-radius: 1px;
            }
        }
    }
}