#section {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: scroll;
    width: 100%;
    margin-bottom: 2rem;

    #section:not(:nth-child(1)) {
        margin-top: 2rem;
    }

    .section__header {
        display: grid;
        justify-content: space-between;
        align-items: center;
        grid-template-rows: 1fr 2fr;
        grid-template-columns: 3fr 1fr;
        grid-template-areas: "update-time ."
            "section__title show-all";
        ;
        margin-bottom: 1rem;

        .section__update-time {
            grid-area: update-time;
            color: $fall-back-black;
        }

        .section__title {
            grid-area: section__title;

            font-size: 2rem;
            font-weight: 500;
        }

        .show-all-btn {
            place-content: end;
            display: flex;
            grid-area: show-all;
            cursor: pointer;
            color: $fall-back-black;
        }
    }

    .section__body {
        grid-area: section__body;
        overflow-x: auto;
        overflow-y: hidden;
        width: 100%;
        white-space: nowrap;
    }

    .scroll-container {
        scroll-snap-type: x proximity;
        display: grid;
        gap: 0.8rem 1.3rem;
        grid-template-rows: repeat(5, 0.85fr);
        grid-auto-flow: column;
        overflow-x: auto;
    }

    .scroll_playlist {
        scroll-snap-type: x proximity;
        display: grid;
        gap: 0 1rem;
        grid-template-rows: repeat(1, 0.85fr);
        grid-auto-flow: column;
        overflow-x: scroll;
    }
}

.playlists-section {
    z-index: 1;
}