#section {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 48vh;
    width: 100%;
    overflow: scroll;
    margin-top: 3rem;

    .section__header {
        display: grid;
        margin-bottom: 30px;
        grid-template-areas:
            "update-time ."
            "section__title show-all";
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr 2fr;
        justify-content: space-between;
        align-items: center;

        .section__update-time {
            grid-area: update-time;
            font-size: 2rem;
            color: $fall-back-black;
        }

        .section__title {
            grid-area: section__title;
            font-size: 4rem;
            margin-top: 1rem;
        }

        .show-all-btn {
            display: flex;
            grid-area: show-all;
            place-content: end;
            color: $fall-back-black;
            cursor: pointer;
        }
    }

    .section__body {
        grid-area: section__body;
        white-space: nowrap;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .scroll-container {
        display: grid;
        scroll-snap-type: x proximity;
        grid-template-rows: repeat(5, 0.85fr);
        gap: 0 3rem;
        grid-auto-flow: column;
        overflow-x: auto;
    }





}