#music-card {
    scroll-snap-align: start;
    display: grid;
    grid-template-areas:
        "album-cover ranking track-title-area play-btn"
        "album-cover . artist play-btn"
    ;
    grid-template-columns: 1.3fr 0.9fr 4fr 0.7fr;
    background-color: rgb(34, 34, 34);
    border-radius: 10px;
    margin-top: $default-gap;
    height: 5.5rem;
    width: 45rem;
    font-size: 3rem;
    padding: 2rem 1.5rem 4rem 1.5rem;

    .album-cover {
        grid-area: album-cover;
        align-self: center;
        justify-self: center;
        width: 8rem;
        height: 8rem;
        background-color: rgba(100, 100, 100, 0.318);
        border-radius: 1rem;
        background-size: auto 100%;
        background-position: center;
    }

    .ranking {
        grid-area: ranking;
        align-self: center;
        justify-self: center;
    }

    .track-title-area {
        grid-area: track-title-area;
        display: flex;
        justify-content: flex-start;
        box-sizing: border-box;
        overflow: hidden;

        .track-title {
            white-space: nowrap;
        }

    }

    .artist {
        grid-area: artist;
        color: $fall-back-black;
        margin-right: auto;
    }

    .play-btn {
        grid-area: play-btn;
        font-size: 4rem;
        align-self: center;
        justify-self: center;
    }
}