#player-screen.active {
    bottom: 0;
}

#player-screen {
    // erase
    // top: 0;

    padding: $default-padding;
    position: fixed;
    bottom: -100%;
    left: 0;
    transition: bottom 0.3s;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: 30;
    background-color: black;
    display: grid;
    grid-template-rows: 1fr 10fr 3fr;

    .player-screen__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 3.5rem;

    }

    .player-screen__body {
        padding: $default-padding;
        display: grid;
        grid-template-rows: 4.5fr 1fr 1fr 1fr;

        .album-cover {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
                border-radius: 1rem;

                object-fit: cover;
                overflow: hidden;
            }

        }

        .like-and-title {
            display: grid;
            grid-template-columns: 1fr 10fr 1fr;
            place-items: center;

            .dislike {
                transform: scaleX(-1);
                font-size: 4rem;
                place-self: left;
            }

            .track-info {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                line-height: 5rem;

                .title {
                    font-weight: bold;
                    font-size: 4rem;
                }

                .artist {
                    font-size: 3rem;
                    color: $fall-back-black;
                }
            }

            .like {
                font-size: 4rem;

            }


        }

        .progress-bar-area {
            display: grid;
            grid-template-areas: "bar bar"
                "current-time duration";
            align-self: center;

            gap: 1.5rem;


            #timeline {
                grid-area: bar;
                -webkit-appearance: none;
                appearance: none;
                width: 100%;
                height: 1rem;
                background: $fall-back-black-dark;
                outline: none;
                opacity: 0.7;
                -webkit-transition: .2s;
                transition: opacity .2s;
                overflow: hidden;

                :hover {
                    opacity: 1;
                }
            }


            #timeline::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 2rem;
                height: 2rem;
                background: #fff;
                cursor: pointer;
                margin-top: 0;
                margin-left: -2rem;
                box-shadow: -900px 0 0 900px white;

            }


            span.current-time {
                grid-area: current-time;
            }

            span.duration {
                grid-area: duration;
                justify-self: end;

            }
        }


        .player-commands {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            font-size: 3.5rem;

            .prev-btn,
            .next-btn {
                font-size: 4.5rem;
            }

            .play-btn {
                box-sizing: border-box;
                padding: 1.5rem;

                display: flex;
                align-items: center;
                justify-content: center;
                width: 13rem;
                height: 13rem;
                border-radius: 50%;
                background-color: $fall-back-black-dark;

                i {
                    position: absolute;



                }

                .fa-play {
                    margin-left: 0.7rem;
                }

                :hover {
                    background-color: $fall-back-black-darker;
                }
            }
        }


    }

    .player-screen__nav {
        background-color: $fall-back-black-dark;
        position: absolute;
        bottom: 0;

        width: 100vw;
        height: 10vh;
        display: grid;
        grid-template-rows: 0.5fr 2fr;

        .handle-bar {
            place-self: center;
            width: 5rem;
            height: 0.5rem;
            background-color: white;

            span {
                content: "";

            }
        }

        .nav-items {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            place-items: center;
        }
    }

}