#youtube-player {
    display: none;
}

#player-box {
    display: grid;
    grid-template-columns: 0.8fr auto 1.2fr;
    grid-template-areas:
        "album-cover track-title btn-area"
        "album-cover artist btn-area";
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 8rem;
    margin-top: 0.5rem;
    padding: 0 1rem;
    transition: background-color 0.5s ease-in-out;
    background-color: rgba(54, 54, 54, 0.8392156863);
    justify-self: center;
    align-content: center;


    .album-cover {
        grid-area: album-cover;

        justify-self: center;
        align-self: center;
        width: 4.5rem;
        height: 4.5rem;
        margin-right: 1rem;
        background-position: center;
        background-size: auto 100%;
        border-radius: 5px;
    }

    .track-title-area {
        grid-area: track-title;
        align-self: center;
        overflow: hidden;
        width: 100%;
        margin-top: 0rem;
        font-size: 1.8rem;
        white-space: nowrap;

        .track-title {
            white-space: nowrap;
            width: 100%;
        }
    }


    .artist {
        grid-area: artist;
        color: $fall-back-black;
        font-size: 1.5rem;
    }

    .btn-area {
        display: flex;
        flex-direction: row;
        grid-area: btn-area;
        right: 0;
        box-sizing: border-box;
        align-items: center;
        justify-self: end;

        .play-btn {
            box-sizing: border-box;
            align-self: center;
            padding: 1.2rem;
            font-size: 2rem;
            margin-right: 0.5rem;

        }

        .next-btn {
            box-sizing: border-box;
            align-self: center;
            padding: 1.2rem;
            font-size: 2.3rem;
            margin-right: -1rem;
        }
    }

}

#player-box.top-player {
    top: 0;
    animation: moveUp 0.5s ease-in forwards;
    background-color: $bg;
}

@keyframes moveUp {
    0% {
        bottom: 0;
        background-color: $fall-back-black-darker;
        z-index: 10;
    }

    100% {
        z-index: 40;
        top: 0;
        background-color: $bg;
    }
}