#youtube-player {
    display: none;
}

#player-box {
    position: fixed;

    z-index: 10;
    width: 100%;
    height: 230px;
    top: auto;

    bottom: 0;
    left: 0;
    display: grid;
    grid-template-areas:
        "album-cover track-title play-btn next-btn"
        "album-cover artist play-btn next-btn"
    ;
    grid-template-columns: 0.8fr 2fr 0.5fr 0.7fr;
    padding: 0 2rem;
    margin-top: $default-gap;
    transition: background-color 0.5s ease-in-out;
    background-color: #363636d6;

    .album-cover {
        grid-area: album-cover;
        align-self: center;
        justify-self: center;
        width: 9rem;
        height: 9rem;
        border-radius: 5px;
        background-size: auto 100%;
        background-position: center;
        margin-right: 1rem;
    }

    .track-title-area {
        grid-area: track-title;
        margin-top: 1rem;
        font-size: 3rem;
        align-self: center;
        white-space: nowrap;
        max-width: 90%;
        width: fit-content;
        overflow: hidden;

        .track-title {
            white-space: nowrap;

        }
    }


    .artist {
        grid-area: artist;
        color: $fall-back-black;
    }

    .play-btn {
        padding: 2rem;
        grid-area: play-btn;
        font-size: 1.7rem;

        align-self: center;
    }

    .next-btn {
        grid-area: next-btn;
        padding: 2rem;
        font-size: 2rem;
        align-self: center;
    }
}

#player-box.top-player {
    top: 0;
    animation: moveUp 0.5s ease-in forwards;
    background-color: $bg;
}

@keyframes moveUp {
    0% {
        bottom: 0;
        background-color: $fall-back-black-darker;
        z-index: 10;
    }

    100% {
        top: 0;
        background-color: $bg;
        z-index: 40;
    }
}