#youtube-player {
    display: none;
}

#player-box {
    position: fixed;

    background-color: black;
    z-index: 10;
    width: 100%;
    height: 230px;
    bottom: 0;
    display: grid;
    grid-template-areas:
        "album-cover track-title play-btn next-btn"
        "album-cover artist play-btn next-btn"
    ;
    grid-template-columns: 0.8fr 2fr 0.5fr 0.7fr;
    background-color: #a6a6a64e;
    padding: 0 2rem;
    margin-top: $default-gap;

    .album-cover {
        grid-area: album-cover;
        align-self: center;
        justify-self: center;
        width: 9rem;
        height: 9rem;
        background-color: rgba(138, 138, 138, 0.318);
        border-radius: 5px;
        background-size: auto 100%;
        background-position: center;
    }


    .track-title {
        grid-area: track-title;
        margin-left: 2rem;
        margin-top: 1rem;
        font-size: 3rem;
        align-self: center;
    }

    .artist {
        grid-area: artist;
        color: $fall-back-black;
        margin-left: 2rem;
    }

    .play-btn {
        padding: 2rem;
        grid-area: play-btn;
        font-size: 4rem;

        align-self: center;
    }

    .next-btn {
        grid-area: next-btn;
        padding: 2rem;
        font-size: 4.5rem;
        align-self: center;
    }
}