extends base
include mixin/music_card

block content
  .background-gradient(style=`background-image: url(${homeBgImgUrl})`)
  #section
    .section__header
      span.section__title TOP Tracks
      div.show-all-btn
        span show all
    .section__body
      .scroll-container
          each track, index in trackDetails
            +musicCard(index + 1, track.trackTitle, track.artist, track.albumImageUrl, track.youtubeVideoId, false)
  include partials/player_box

  block scripts
    script(src="/static/js/player.js")
    script(src="/static/js/playerScreen.js")
    script(src="/static/js/util/marquee.js")
    script(src="/static/js/playerScreenNav.js")
