/*!**********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/client/scss/styles.scss ***!
  \**********************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Righteous&display=swap);
/*!**************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/client/scss/styles.scss (1) ***!
  \**************************************************************************************************************************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  all: unset;
}

input {
  all: unset;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  z-index: 20;
}
header:hover {
  cursor: pointer;
}
header #search {
  color: white;
  font-size: 3.5rem;
  position: absolute;
  right: 10rem;
}
header #logo span:first-child {
  font-size: 5.5rem;
  margin-left: 0.5rem;
}
header #logo span:last-child {
  margin-left: 0.5rem;
  font-size: 4.5rem;
  font-family: "Righteous";
  background: linear-gradient(to top, rgb(227, 36, 69), rgb(255, 74, 74));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header #hamburger_menu {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
  margin-left: auto;
}
header #hamburger_menu input#check_box {
  display: none;
}
header #hamburger_menu label.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 2.5rem;
  width: 3.5rem;
}
header #hamburger_menu label.hamburger span {
  display: block;
  height: 5px;
  width: 100%;
  background-color: white;
  border-radius: 1px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  position: relative;
}
footer div {
  color: rgba(255, 255, 255, 0.625);
}

#sliding-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: #0e1117;
  transition: right 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#sliding-menu ul {
  list-style-type: none;
  padding: 0;
}
#sliding-menu ul li {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: lighter;
  color: #fff;
}
#sliding-menu label.exit {
  position: absolute;
  top: 3rem;
  right: 3rem;
}
#sliding-menu label.exit span {
  position: relative;
  height: 5rem;
  width: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#sliding-menu label.exit span::before,
#sliding-menu label.exit span::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: white;
}
#sliding-menu label.exit span::before {
  transform: rotate(45deg);
}
#sliding-menu label.exit span::after {
  transform: rotate(-45deg);
}

input:checked ~ div#sliding-menu {
  right: 0;
}

.sliding_menu_area {
  width: 100%;
  height: 100%;
  margin-top: 10rem;
  font-size: 3.5rem;
}
.sliding_menu_area .sliding_menu__header {
  top: 0;
  display: grid;
  place-content: center;
  align-items: center;
  grid-template-areas: "avatar msg btn";
  grid-template-columns: 1fr 10fr 3fr;
  place-content: center;
  padding: 0 3rem;
}
.sliding_menu_area .sliding_menu__header .avatar {
  grid-area: avatar;
  width: 9rem;
  height: 9rem;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
}
.sliding_menu_area .sliding_menu__header .avatar img {
  height: 100%;
}
.sliding_menu_area .sliding_menu__header .login-msg {
  grid-area: msg;
  margin-left: 4rem;
  font-size: 4rem;
}
.sliding_menu_area .sliding_menu__header .login-btn {
  font-size: 2.5rem;
  grid-area: btn;
  display: flex;
  background-color: rgb(227, 36, 69);
  height: 5rem;
  width: 12rem;
  border-radius: 3rem;
  justify-content: center;
  align-items: center;
}
.sliding_menu_area .sliding_menu__header .my-page-btn {
  grid-area: btn;
  width: 12rem;
}
.sliding_menu_area .sliding_menu__body {
  padding: 0 3rem;
  margin-top: 10rem;
}
.sliding_menu_area .sliding_menu__body ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.sliding_menu_area .sliding_menu__body ul li {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  height: 10rem;
}
.sliding_menu_area .sliding_menu__body ul li i {
  font-size: 4rem;
}
.sliding_menu_area .sliding_menu__body ul li span {
  margin-left: 2rem;
  font-size: 4rem;
}
.sliding_menu_area .sliding_menu__body ul li:hover i,
.sliding_menu_area .sliding_menu__body ul li:hover span {
  color: rgba(255, 255, 255, 0.581);
}

#section {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 48vh;
  width: 100%;
  overflow: scroll;
  margin-top: 3rem;
}
#section .section__header {
  display: grid;
  margin-bottom: 30px;
  grid-template-areas: "update-time ." "section__title show-all";
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 2fr;
  justify-content: space-between;
  align-items: center;
}
#section .section__header .section__update-time {
  grid-area: update-time;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.625);
}
#section .section__header .section__title {
  grid-area: section__title;
  font-size: 4rem;
  margin-top: 1rem;
}
#section .section__header .show-all-btn {
  display: flex;
  grid-area: show-all;
  place-content: end;
  color: rgba(255, 255, 255, 0.625);
  cursor: pointer;
}
#section .section__body {
  grid-area: section__body;
  white-space: nowrap;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
#section .scroll-container {
  display: grid;
  scroll-snap-type: x proximity;
  grid-template-rows: repeat(5, 0.85fr);
  gap: 0 3rem;
  grid-auto-flow: column;
  overflow-x: auto;
}

#music-card {
  scroll-snap-align: start;
  display: grid;
  grid-template-areas: "album-cover ranking track-title-area play-btn" "album-cover . artist play-btn";
  grid-template-columns: 1.3fr 0.9fr 4fr 0.7fr;
  background-color: rgb(34, 34, 34);
  border-radius: 10px;
  margin-top: 2rem;
  height: 5.5rem;
  width: 45rem;
  font-size: 3rem;
  padding: 2rem 1.5rem 4rem 1.5rem;
}
#music-card .album-cover {
  grid-area: album-cover;
  align-self: center;
  justify-self: center;
  width: 8rem;
  height: 8rem;
  background-color: rgba(100, 100, 100, 0.318);
  border-radius: 1rem;
  background-size: auto 100%;
  background-position: center;
}
#music-card .ranking {
  grid-area: ranking;
  align-self: center;
  justify-self: center;
}
#music-card .track-title-area {
  grid-area: track-title-area;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  overflow: hidden;
}
#music-card .track-title-area .track-title {
  white-space: nowrap;
}
#music-card .artist {
  grid-area: artist;
  color: rgba(255, 255, 255, 0.625);
  margin-right: auto;
}
#music-card .play-btn {
  grid-area: play-btn;
  font-size: 4rem;
  align-self: center;
  justify-self: center;
}

#youtube-player {
  display: none;
}

#player-box {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 230px;
  top: auto;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-areas: "album-cover track-title play-btn next-btn" "album-cover artist play-btn next-btn";
  grid-template-columns: 0.8fr 2fr 0.5fr 0.7fr;
  padding: 0 2rem;
  margin-top: 2rem;
  transition: background-color 0.5s ease-in-out;
  background-color: rgba(127, 127, 127, 0.174);
}
#player-box .album-cover {
  grid-area: album-cover;
  align-self: center;
  justify-self: center;
  width: 9rem;
  height: 9rem;
  border-radius: 5px;
  background-size: auto 100%;
  background-position: center;
  margin-right: 1rem;
}
#player-box .track-title-area {
  grid-area: track-title;
  margin-top: 1rem;
  font-size: 3rem;
  align-self: center;
  white-space: nowrap;
  max-width: 90%;
  width: fit-content;
  overflow: hidden;
}
#player-box .track-title-area .track-title {
  white-space: nowrap;
}
#player-box .artist {
  grid-area: artist;
  color: rgba(255, 255, 255, 0.625);
}
#player-box .play-btn {
  padding: 2rem;
  grid-area: play-btn;
  font-size: 4rem;
  align-self: center;
}
#player-box .next-btn {
  grid-area: next-btn;
  padding: 2rem;
  font-size: 4.5rem;
  align-self: center;
}

#player-box.top-player {
  top: 0;
  animation: moveUp 0.5s ease-in forwards;
  background-color: #0e1117;
}

@keyframes moveUp {
  0% {
    bottom: 0;
    background-color: rgba(127, 127, 127, 0.174);
    z-index: 10;
  }
  100% {
    top: 0;
    background-color: #0e1117;
    z-index: 40;
  }
}
#player-screen.active {
  bottom: 0;
}

#player-screen {
  padding: 3rem;
  position: fixed;
  bottom: -100%;
  left: 0;
  transition: bottom 0.3s;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  z-index: 30;
  background-color: black;
  display: grid;
  grid-template-rows: 1fr 10fr 3fr;
}
#player-screen .player-screen__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 3.5rem;
}
#player-screen .player-screen__body {
  padding: 3rem;
  display: grid;
  grid-template-rows: 4.5fr 1fr 1fr 1fr;
}
#player-screen .player-screen__body .album-cover {
  display: flex;
  justify-content: center;
  align-items: center;
}
#player-screen .player-screen__body .album-cover img {
  width: 100%;
  border-radius: 1rem;
  object-fit: cover;
  overflow: hidden;
}
#player-screen .player-screen__body .like-and-title {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  place-items: center;
}
#player-screen .player-screen__body .like-and-title .dislike {
  transform: scaleX(-1);
  font-size: 4rem;
  place-self: left;
}
#player-screen .player-screen__body .like-and-title .track-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 5rem;
  padding: 0 3rem;
  width: 73%;
}
#player-screen .player-screen__body .like-and-title .track-info .track-title-area .track-title {
  font-weight: bold;
  font-size: 4rem;
}
#player-screen .player-screen__body .like-and-title .track-info .artist {
  font-size: 3rem;
  text-overflow: ellipsis;
  color: rgba(255, 255, 255, 0.625);
}
#player-screen .player-screen__body .like-and-title .like {
  font-size: 4rem;
}
#player-screen .player-screen__body .progress-bar-area {
  display: grid;
  grid-template-areas: "bar bar" "current-time duration";
  align-self: center;
  gap: 1.5rem;
}
#player-screen .player-screen__body .progress-bar-area #timeline {
  grid-area: bar;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 1rem;
  background: rgba(127, 127, 127, 0.472);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  overflow: hidden;
}
#player-screen .player-screen__body .progress-bar-area #timeline:hover {
  opacity: 1;
}
#player-screen .player-screen__body .progress-bar-area #timeline::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2rem;
  height: 2rem;
  background: #fff;
  cursor: pointer;
  margin-top: 0;
  margin-left: -2rem;
  box-shadow: -900px 0 0 900px white;
}
#player-screen .player-screen__body .progress-bar-area span.current-time {
  grid-area: current-time;
}
#player-screen .player-screen__body .progress-bar-area span.duration {
  grid-area: duration;
  justify-self: end;
}
#player-screen .player-screen__body .player-commands {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 3.5rem;
}
#player-screen .player-screen__body .player-commands .prev-btn,
#player-screen .player-screen__body .player-commands .next-btn {
  font-size: 4.5rem;
}
#player-screen .player-screen__body .player-commands .play-btn {
  box-sizing: border-box;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  background-color: rgba(127, 127, 127, 0.472);
}
#player-screen .player-screen__body .player-commands .play-btn i {
  position: absolute;
}
#player-screen .player-screen__body .player-commands .play-btn .fa-play {
  margin-left: 0.7rem;
}
#player-screen .player-screen__body .player-commands .play-btn:hover {
  background-color: rgba(127, 127, 127, 0.174);
}

.player-screen__nav {
  z-index: 40;
  background-color: rgb(51, 51, 51);
  position: absolute;
  left: 0;
  top: 88.5%;
  width: 100vw;
  height: 90vh;
  transition: top 0.5s ease-in-out;
  display: grid;
  grid-template-rows: 0.5fr 1fr 10fr;
  border-radius: 2rem;
}
.player-screen__nav .handle-bar {
  width: 100vw;
  height: 6rem;
  display: flex;
  align-self: center;
  justify-content: center;
}
.player-screen__nav .handle-bar span {
  content: "";
  width: 5rem;
  height: 0.5rem;
  background-color: white;
  margin-top: 3rem;
}
.player-screen__nav .nav-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}
.player-screen__nav .nav-items button {
  border-bottom: solid rgba(255, 255, 255, 0.625) 3px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 0.2s ease-in;
  margin-bottom: 2rem;
}
.player-screen__nav .nav-items button.clicked {
  border-bottom: solid white 6px;
  color: white;
}
.player-screen__nav .nav__body {
  height: 100%;
  width: 100%;
}

.player-screen__nav.nav-active {
  top: 12%;
}

.music-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.music-cards-container #music-card.playlist-music-card {
  width: 95%;
  background-color: transparent;
  grid-template-columns: 1.6fr 0 4fr 1fr;
  margin-top: 1rem;
}

.login-box {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 6rem;
}
.login-box .login-box__header {
  font-size: 3.5rem;
}
.login-box .login__form {
  margin-top: 6rem;
  width: 100%;
}
.login-box .login__form .submit-form {
  display: flex;
  flex-direction: column;
}
.login-box .login__form .submit-form .input-box {
  width: 100%;
  font-size: 3rem;
  border-bottom: solid 4px white;
  margin-top: 3rem;
}
.login-box .login__form .submit-form .input-box input {
  width: 100%;
  height: 10rem;
  padding-left: 1rem;
}
.login-box .login__form .submit-form .submit-btn {
  text-align: center;
  width: 100%;
  height: 8rem;
  border-radius: 1rem;
  background-color: rgba(216, 35, 65, 0.78);
  margin-top: 3rem;
}
.login-box .login__form .submit-form .submit-btn :hover {
  color: rgba(255, 255, 255, 0.864);
  background-color: rgba(216, 35, 65, 0.348);
}
.login-box .cant-login {
  font-size: 2.7rem;
  display: grid;
  grid-template-columns: 3fr 1.3fr 0.2fr 1.65fr;
}
.login-box .cant-login :hover:not(:nth-child(3)) {
  color: rgba(255, 255, 255, 0.625);
}

.join-box {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 6rem;
}
.join-box .join-box__header {
  font-size: 3.5rem;
}
.join-box .join__form {
  margin-top: 6rem;
  width: 100%;
}
.join-box .join__form .submit-form {
  display: flex;
  flex-direction: column;
}
.join-box .join__form .submit-form .join-input-box {
  display: flex;
  align-items: center;
  width: 99%;
  font-size: 3rem;
  border: solid 4px rgba(127, 127, 127, 0.472);
  margin-bottom: 4rem;
  margin-top: 1.5rem;
}
.join-box .join__form .submit-form .join-input-box input {
  width: 100%;
  height: 7rem;
  padding-left: 3rem;
}
.join-box .join__form .submit-form .error-message {
  text-align: end;
  color: rgba(255, 0, 106, 0.866);
  font-size: 2.5rem;
  font-weight: light;
}
.join-box .join__form .submit-form .valid-username {
  color: rgb(94, 41, 255);
}
.join-box .join__form .submit-form .profile-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  padding-top: 2rem;
}
.join-box .join__form .submit-form .user-id-form {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
.join-box .join__form .submit-form .user-id-form .join-input-box {
  width: 69%;
  display: flex;
  align-items: center;
}
.join-box .join__form .submit-form .user-id-form button {
  margin-top: 1.5rem;
}
#my-page {
  margin-top: 3rem;
}
#my-page .my-page__box {
  box-sizing: border-box;
  width: 100%;
  background-color: rgba(127, 127, 127, 0.174);
  padding: 6rem 6rem 0 6rem;
  margin-bottom: 3rem;
  border-radius: 1.5rem;
}
#my-page .my-page__box a {
  color: rgb(255, 28, 96);
}
#my-page .my-page__box .my-page__box__header {
  font-size: 3.5rem;
  margin: 2rem 0;
}
#my-page .my-page__box .my-page__box__body {
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.625);
}
#my-page .my-page__box .my-page__box__body span {
  line-height: 4rem;
}
#my-page .my-page__box .my-page__box__body i {
  position: relative;
  place-self: end;
  bottom: 4rem;
  font-size: 10rem;
  color: rgba(127, 127, 127, 0.472);
}
#my-page .my-page__box .my-page__box__body a {
  margin-top: 6rem;
}
#my-page .my-page__box.user-info {
  padding: 3rem 0;
}
#my-page .my-page__box.user-info .my-page__box__header {
  display: grid;
  grid-template-areas: "avatar welcome-msg" "avatar email";
}
#my-page .my-page__box.user-info .my-page__box__header .avatar {
  grid-area: avatar;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  place-self: center;
}
#my-page .my-page__box.user-info .my-page__box__header .avatar img {
  height: 100%;
}
#my-page .my-page__box.user-info .my-page__box__header .user-welcome {
  grid-area: welcome-msg;
  font-size: 3.5rem;
}
#my-page .my-page__box.user-info .my-page__box__header .user-email {
  grid-area: "email";
  color: rgba(127, 127, 127, 0.472);
}

.account-setting-box {
  box-sizing: border-box;
  padding: 0 3rem;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 6rem;
}
.account-setting-box .account-setting-box__header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.account-setting-box .account-setting-box__header .user-avatar {
  height: 20rem;
  width: 20rem;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
}
.account-setting-box .account-setting-box__header .user-avatar img {
  height: 100%;
}
.account-setting-box .account-setting-box__header span {
  margin-top: 3rem;
  text-align: center;
  font-size: 4rem;
}
.account-setting-box .account-setting__form {
  margin-top: 6rem;
  width: 100%;
}
.account-setting-box .account-setting__form label {
  font-size: 3.5rem;
}
.account-setting-box .account-setting__form .submit-form {
  display: flex;
  flex-direction: column;
}
.account-setting-box .account-setting__form .account-setting-input-box {
  display: flex;
  align-items: center;
  width: 99%;
  font-size: 3rem;
  border: solid 4px rgba(127, 127, 127, 0.472);
  margin-bottom: 7rem;
  margin-top: 1.5rem;
}
.account-setting-box .account-setting__form .account-setting-input-box input {
  width: 100%;
  height: 7rem;
  padding-left: 3rem;
}
.account-setting-box .account-setting__form label.password-change {
  background-color: #0e1117;
}
.account-setting-box .account-setting__form .success-message {
  margin-top: 2rem;
}
.account-setting-box .account-setting__form .change-password-box {
  border: solid 4px rgba(127, 127, 127, 0.472);
  box-sizing: border-box;
  padding: 3rem 3rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}
.account-setting-box .account-setting__form .change-password-box .password-box {
  width: 95%;
  margin-bottom: 0;
}
.account-setting-box .account-setting__form .change-password-box .password-box:first-child {
  margin-top: 0;
}
.account-setting-box .account-setting__form .fixed-info {
  border: none;
  padding-left: 3rem;
  font-size: 3.5rem;
  color: rgba(255, 255, 255, 0.625);
  margin-bottom: 7rem;
}
.account-setting-box .account-setting__form .error-message {
  text-align: end;
  color: rgba(255, 0, 106, 0.866);
  font-size: 2.5rem;
  font-weight: light;
}
.account-setting-box .account-setting__form .valid-username {
  color: rgb(94, 41, 255);
}
.account-setting-box .account-setting__form .profile-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  padding-top: 2rem;
}
.account-setting-box .account-setting__form .user-id-form {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
.account-setting-box .account-setting__form .user-id-form .account-setting-input-box {
  width: 69%;
  display: flex;
  align-items: center;
  margin-bottom: 7rem;
}
.account-setting-box .account-setting__form .user-id-form button {
  margin-top: 4rem;
}
.playlist-box {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
}
.playlist-box .playlist-box__header {
  font-size: 3.5rem;
  margin-bottom: 5rem;
}
.playlist-box .playlist-box__body {
  height: 100%;
}
.playlist-box .playlist-box__body .playlist-box__body__header {
  display: flex;
  justify-content: space-between;
  font-size: 3.6rem;
}
.playlist-box .playlist-box__body .playlist-box__body__header .header__make-playlist-btn {
  color: rgb(255, 28, 96);
  font-size: 3.3rem;
}
.playlist-box .playlist-box__body .playlist-box__body__header .order-btn {
  color: rgba(255, 255, 255, 0.625);
  font-size: 3rem;
}
.playlist-box .playlist-box__body .playlist-box__body__header .order-btn i {
  margin-right: 1rem;
}
.playlist-box .playlist-box__body .playlist-box__body__body {
  height: 100%;
  display: flex;
  justify-self: center;
  align-items: center;
}
.playlist-box .playlist-box__body .empty-playlist-instruction {
  margin-top: -150%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 5rem;
}
.playlist-box .playlist-box__body .empty-playlist-instruction span {
  color: rgba(255, 255, 255, 0.625);
}
.playlist-box .playlist-box__body .empty-playlist-instruction span:nth-child(3) {
  margin-top: 3rem;
  color: rgba(127, 127, 127, 0.472);
  margin-bottom: 4rem;
}
.playlist-box .playlist-box__body .empty-playlist-instruction .href-btn {
  padding: 1rem 3rem;
  height: 5rem;
  font-size: 3rem;
  border-radius: 4rem;
}

.add-playlist-box {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 3rem 0;
  align-items: center;
  flex-direction: column;
}
.add-playlist-box .add-playlist-box__header {
  font-size: 3.5rem;
  margin-bottom: 6rem;
}
.add-playlist-box .add-playlist-box__body {
  width: 100%;
}
.add-playlist-box .add-playlist-box__body form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.add-playlist-box .add-playlist-box__body form .add-cover-box {
  width: 25rem;
  height: 25rem;
  background-color: rgba(127, 127, 127, 0.174);
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
.add-playlist-box .add-playlist-box__body form .add-cover-box i {
  font-size: 5rem;
}
.add-playlist-box .add-playlist-box__body form input.add-playlist-cover {
  width: 3rem;
  overflow: hidden;
  display: none;
}
.add-playlist-box .add-playlist-box__body form .input-box {
  width: 100%;
  font-size: 3rem;
  border-bottom: solid 4px rgba(127, 127, 127, 0.472);
  margin-top: 3rem;
}
.add-playlist-box .add-playlist-box__body form .input-box input {
  width: 100%;
  height: 10rem;
  padding-left: 3rem;
}
.add-playlist-box .add-playlist-box__body form .input-box.bolder {
  font-size: 3.5rem;
  font-weight: bolder;
}
.add-playlist-box .add-playlist-box__body form .input-box {
  width: 100%;
}
.add-playlist-box .add-playlist-box__body form button.add-track {
  place-self: start;
  font-size: 3.5rem;
  color: rgb(255, 28, 96);
  margin-top: 5rem;
}
.add-playlist-box .add-playlist-box__body form button.submit-btn {
  margin-top: 10rem;
}

#loading-screen {
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30rem;
  background-color: rgba(0, 0, 0, 0.778);
}
#loading-screen .cherry {
  margin-top: -10rem;
  place-self: center;
  animation: heartbeat 1s infinite;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  40% {
    rotate: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
.hidden {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

*::-webkit-scrollbar {
  display: none;
}

.background-gradient {
  width: 100%;
  height: 23vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
  z-index: -1;
  transition: opacity 0.5s ease;
  opacity: 0.5;
}

.background-gradient::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, transparent, black);
  opacity: 1;
}

.background-gradient.inactive {
  opacity: 0;
  background-image: none;
}

textarea {
  all: unset;
  padding: 3rem;
  color: rgba(127, 127, 127, 0.472);
  font-size: 3rem;
}

.errorMessage {
  margin-top: 4rem;
  margin-bottom: -3rem;
  color: rgb(255, 28, 96);
}

:disabled {
  color: rgba(154, 154, 154, 0.51);
}

.break-line {
  position: relative;
  text-align: center;
  margin: 4rem 0;
}

.break-line::before,
.break-line::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 36vw;
  top: 50%;
  background: white;
}

.break-line::before {
  right: 50%;
  margin-right: 5rem;
}

.break-line::after {
  left: 50%;
  margin-left: 5rem;
}

.break-line span {
  padding: 0 10px;
}

.check-btn {
  font-size: 2.5rem;
  text-align: center;
  width: 25%;
  height: 7.5rem;
  border-radius: 0.5rem;
  background-color: rgba(216, 35, 65, 0.78);
}
.check-btn:hover {
  color: rgba(255, 255, 255, 0.864);
}

.href-btn {
  font-size: 2.5rem;
  display: flex;
  height: 5rem;
  border-radius: 3rem;
  justify-content: center;
  align-items: center;
  border: solid 1px rgba(255, 255, 255, 0.625);
}
.href-btn:hover {
  color: rgba(255, 255, 255, 0.625);
  background-color: rgba(127, 127, 127, 0.174);
  border: solid 1px rgba(127, 127, 127, 0.174);
}

.valid {
  color: rgb(84, 87, 255);
}

.submit-btn {
  text-align: center;
  width: 100%;
  height: 8rem;
  border-radius: 1rem;
  background-color: rgba(216, 35, 65, 0.78);
}
.submit-btn:hover {
  color: rgba(255, 255, 255, 0.864);
}

.marquee {
  width: 100%;
  display: flex;
  overflow: hidden;
  gap: 3rem;
  position: relative;
  user-select: none;
  white-space: nowrap;
}

.marquee-content {
  white-space: nowrap;
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  gap: 3rem;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1rem));
  }
}
.scroll {
  animation: scroll 10s linear infinite;
}

body {
  z-index: 0;
  width: 100vw;
  height: 100vh;
  bottom: 280px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #0e1117;
  color: white;
  font-size: 50px;
  align-items: center;
  justify-self: center;
}
body main {
  position: relative;
  height: 100%;
  padding: 2rem 3rem;
}
