header
    #logo 
        span 🍒
        span Cherry 
    #search 
        i.fa-solid.fa-magnifying-glass
    #hamburger_menu
        input#check_box(type="checkbox")
        label.hamburger(for="check_box") 
            span
            span
            span
        nav#sliding-menu
            label.exit(for="check_box") 
                    span
            ul
                li Item 1
                li Item 2
                li Item 3
