#player-screen 
    .player-screen__header 
        .shrink-btn 
            i.fa-solid.fa-chevron-down
        .commands 
            i.fa-solid.fa-ellipsis-vertical

    .player-screen__body
        .album-cover
            img.album-img(src="/images/default_album_img.png")
        .like-and-title 
            .dislike 
                i.fa-regular.fa-thumbs-down
                //- i.fa-solid.fa-thumbs-up
            .track-info
                .title Cupid - Twin Ver.
                .artist Fifty Fifty

            .like 
                i.fa-regular.fa-thumbs-up
        .runtime 
        .player-commands
            .shuffle 
                i.fa-solid.fa-shuffle
            .prev-btn 
                i.fa-solid.fa-backward-step
            .play-btn
                i.fa-solid.fa-play
            .next-btn 
                i.fa-solid.fa-forward-step
            .repeat-btn
                i.fa-solid.fa-repeat
    .player-screen__nav 
        .handle-bar 
            span
        .nav-items
            button.next-track 다음 트랙
            button.lyrics 가사
            button.related 관련 항목


