#player 
    .album-cover(style=`background-image: url("/images/default_album_img.png")`)
    .track-title TEST TRACK
    .artist TEST ARTIST
    .play-btn
      i.fa-solid.fa-play
    .next-btn
        i.fa-solid.fa-forward-step