.player 
    .album-cover(style=`background-image: url(${albumImage})`)
    .track-title #{trackTitle}
    .artist #{artist}
    .play-btn
      i.fa-solid.fa-play
    .next-btn
        i.fa-solid.fa-forward-step