#youtube-player

#player-box 
    .album-cover(style=`background-image: url("/images/default_album_img.png")`)
    .track-title Cupid - Twin Ver.
    .artist Fifty Fifty
    button.play-btn
      i.fa-solid.fa-play
    button.next-btn
        i.fa-solid.fa-forward-step