#player-screen 
    .player-screen__header 
        .shrink-btn 
            i.fa-solid.fa-chevron-down
        .commands 
            i.fa-solid.fa-ellipsis-vertical

    .player-screen__body
        .album-cover
            img.album-img(src="/images/default_album_img.png")
        .like-and-title 
            .dislike 
                i.fa-regular.fa-thumbs-down
                //- i.fa-solid.fa-thumbs-up
            .track-info.marquee
                .track-title-area
                    .track-title.marquee-content.scroll 곡 목록을 추가해주세요
                .artist

            .like 
                i.fa-regular.fa-thumbs-up

        .progress-bar-area
            input#timeline(type="range", min="0", max="100", value="0")

            span.current-time 00:00
            span.duration 00:00

        .player-commands
            button.shuffle 
                i.fa-solid.fa-shuffle
            button.prev-btn(disabled)
                i.fa-solid.fa-backward-step
            button.play-btn
                i.fa-solid.fa-play
            button.next-btn 
                i.fa-solid.fa-forward-step
            button.repeat-btn
                i.fa-solid.fa-repeat
    include player_screen_nav
    


