.sliding-search-area 
    .sliding-search__header 
        .close-search 
            i.fa-solid.fa-angle-left
        form.search-input(method="GET", action="/search")
            input.typing-area(type="text", placeholder="노래, 아티스트 검색", name="search")
            input.search-submit(type="submit")
        .mic
            i.fa-solid.fa-microphone
        
    .sliding-search__body
            
            