.sliding_menu_area 
    .sliding_menu__header 
        if !loggedInUser
            .avatar 
                img(src="/images/default_user_avatar.jpeg")
            span.login-msg 로그인 해주세요 
            button.login-btn(onclick="location.href='/user/login'") 로그인

        if loggedInUser
            .avatar 
                img(src=loggedInUser.profilePicPath)
            span.login-msg=loggedInUser.username
            button.my-page-btn(onclick="location.href='/user/mypage'") 내 정보

    .sliding_menu__body
        ul 
            li 
                i.fa-solid.fa-fire
                span Popular
            li 
                i.fa-solid.fa-headphones
                span 내 플레이리스트
            li 
                i.fa-solid.fa-heart
                span 좋아요한
            li 
                i.fa-solid.fa-compact-disc
                span 많이 들은
            li 
                i.fa-solid.fa-star
                span 팬맺은
            li 
                i.fa-solid.fa-pencil
                span 내가 쓴 댓글

            
            