extends ../base

block content
    .join-box 
        .join-box__header
            span Cherry Music에 가입하세요!
        .join__form
            form.submit-form(method="POST", enctype="multipart/form-data")
                label(for="email") 이메일˚
                p.error-message=error && error.emailErrorMessage ? error.emailErrorMessage : ''
                div.join-input-box
                    input(placeholder="예: userid1234@naver.com", type="email", name="email", required)

                label(for="username") 아이디˚
                p.error-message.username=error && error.usernameErrorMessage ? error.usernameErrorMessage : ''
                .user-id-form
                    div.join-input-box
                        input(placeholder="예: userid1234", type="text", name="username", required)
                    button.check-btn(type="button") 중복확인

                label(for="password") 비밀번호˚
                p.error-message=error && error.passwordErrorMessage ? error.passwordErrorMessage : ''
                div.join-input-box.password-box
                    input(placeholder="비밀번호를 입력해주세요", type="password", name="password", required)  
                
                label(for="password") 비밀번호 확인˚
                div.join-input-box
                    input(placeholder="비밀번호를 한번 더 입력해주세요", type="password", name="password2", required)   
                
                label(for="profile_pic") 프로필 사진 
                div.join-input-box.profile-pic
                    input(id="profile_pic", type="file", name="profile_pic", accept="image/*")

                button.submit-btn(type="submit", value="회원가입") 회원가입
        
    script(src="/static/js/checkUserId.js")
